.namecontainer {
     background-color: white;
     padding: 20px;  
     box-shadow: 0 0 5px white; 
     margin: 10px;
}

.notecontainer {
     background-color: #ebff9b;
     padding: 50px;  
     box-shadow: 0 0 5px #ebff9b; 
     margin: 10px;
}

.medicine {
     background-color: #93A243;
     padding: 50px;  
     box-shadow: 0 0 5px #93A243; 
     margin: 10px;
}


.breakfast {
     background-color: #654678;
     padding: 50px;  
     box-shadow: 0 0 5px #654678; 
     margin: 10px;
     color: white;
     align-items: center;
}

.lunch {
     background-color: #654678;
     padding: 50px;  
     box-shadow: 0 0 5px #654678; 
     margin: 10px;
     color: white;
}

.dinner {
     background-color: #654678;
     padding: 50px;  
     box-shadow: 0 0 5px #654678; 
     margin: 10px;
     color: white;
}


.btn.btn-primary.feederfrmbutton{
     background-color: #DF4900;
     color:white;
     font-weight: bold;
     border-color: #FFF;     
     margin-top: 20px;
     width: fit-content;
}

.feedertitleimage {
     width: 170px;
     height:100px;
     text-align: center;
}

.feedercontrols {
     margin: 0;
     text-align: left;
}

.spicy-rice-regular {
     font-family: "Spicy Rice", serif;
     font-weight: 400;
     font-style: normal;
}

.spicy-rice-bold {
     font-family: "Spicy Rice", serif;
     font-weight: 700;
     font-style:normal;
}
