.editbutton, .feedbutton, .deletebutton {
    background-color: white;
    color:white;
    font-weight: bold;
    border-color: #FFF;
    box-shadow: 0 0 10px white;    
    min-width: 75px;
    min-height: 75px;
}

.imgbutton {
    max-width: 100px;
    max-height: 100px;
    margin: 2px;
    flex-direction: row;
}

.imgbutton:hover {
    background-color: #DF4900;
}

.cardimg {
    max-width: 150px;
    max-height: 150px;
} 


.pettitle{
    font-weight: Bold;
    font-weight: 15px;
    color: #DF4900;
}
