.editbutton, .feedbutton, .deletebutton {
    background-color: white;
    color:white;
    font-weight: bold;
    border-color: #FFF;
    box-shadow: 0 0 10px white;    
    min-width: 100px;
    min-height: 100px;
}

.imgbutton {
    max-width: 120px;
    max-height: 120px;
    margin: 5px;
    flex-direction: row;

}

/* .cardimg {
    max-width: 150px;
    max-height: 150px;
} */